
#container{
	border-style:solid;
    border-color: rgb(192,192,192);
    border-top-width: 5px;
    border-bottom-width:0px;
    border-right-width:0px;
    border-left-width:0px;
}
.headerlist ul{
	list-style-type: none;
}
.headerlist ul a{
	text-decoration: none;
	float: right;
	color: black;
	margin: 20px;
	font-size: 15px;

}
#name{
	font-size: 28px;
	font-style: normal;
	float: left;
	margin-left: 170px;
	position: relative;
	top:-10px;
}
html{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
#udpic{
	width: 100%;
	z-index: 0;
}
#lowerpic{
	position: relative;
	margin-top: 165px;
	z-index:4;
}
#submit{
	border: 1px solid #607d8b;
	border-bottom: 3px solid #607d8b;
	padding: 6px;
	padding-bottom: 2px;
	background: #607d8b;
	color: white;
	margin-left: -5px;
	margin-top: -6px;
	width: 8%;
}
#search{
	width:70%;
	height:50%;
	border: 2px solid #607d8b;
	font-size: 20px;
	margin-left: -80px;
	padding-left: 10px;
}
#submit:hover{
	background: rgb(192,192,100);
	transition: all 0.4 s;
}
#searchbar{
	margin-top: -650px;
	margin-left: 30%;
	z-index:1;
	position: relative;
	opacity: 0.7;
	border-radius: 25px;
}
a.hover{
	color: purple;
	background: #607d8b;
}
#table{
	z-index: 5;
	position: relative;
	margin-top: 10%;
	margin-left: 30%;
	text-align: center;
	border-collapse: collapse;
	opacity: 0.8;
} 
.even{
	background: rgb(120, 120, 139);
}
.odd{
	background: white;
}
/*#tablet{
	height: 15em;
	overflow: auto;
}
*/
.list{
	display: inline-block;
	position: absolute;
	margin-left: -300px;
}

.list a{
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid black;
	color: black;
	background-color: white;
}

.list a:active{
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
	color: white;
}

.list a:hover:not(.active){
	background-color: #ddd;
}

.list a:first-child{
	border-top-left-radius:5px;
	border-bottom-left-radius: 5px;
}
.list a:last-child{
	border-top-right-radius:5px;
	border-bottom-right-radius: 5px;
}

li {
	display: inline;
}

span{
	background: white;
	border-top-right-radius:5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius:5px;
	border-bottom-left-radius: 5px;
}
#middle{
	border-top-right-radius:5px;
	border-bottom-right-radius: 5px;
	
}